
body{
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500)
}
#add_more_product{
    background-color: aquamarine;
    color: black;
    font-size: larger;
    border-radius: 7px;
    padding: 7px 15px;
    margin-left: 10px;
    
}

#all_products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 20px;
}

#all_products div {
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
}

button{
margin: 20px;
background-color: rgb(208, 70, 66);
    color: black;
    font-size:medium;
    font-weight: bold;
    border-radius: 7px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    
}

